@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}
*{
  margin: 0;
}

.container{
  margin: 0 auto;
  max-width: 1280px;
}
button{
  all: unset;
  padding: 6px 16px;
  background: blue;
  height: 32px;
  color: white;
  font-weight: 500;

}
nav{
  display: flex;
  justify-content: space-between;
  margin-top:40px ;
  height: 72px;
  align-items: center;
}



nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

.left{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.body{
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
  margin-top: 100px ;

}

.body h1{
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
}

.body p{
  font-weight: 600 ;
  color: gray;
  font-size: 16px;
  max-width: 400px;
}

.body-btn{
  display: flex;
  gap: 40px;
  color: blue;

}

.secondary-btn
{
  background: transparent;
  color: gray;
  border: 1px solid blue;

}
.site p {
  font-size: 14px;
  margin-bottom: 8px;

}
.brand-icons{
  display: flex;
  gap: 26px;
}